*{
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: beige;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  width: 900px;
  height: 900px;
  border: 1px solid black;
}

.main-container >div {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  border: 1px solid red;
}

.main-container>div>div{
  flex: 1 1;
  border: 1px solid orange;
}